@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

